// custom SCSS (or CSS) goes here

// Basic callout styles

p.highlight-title, blockquote.highlight-title {
  color: #e6e1e8;
}

p.josh,
p.warren {
  color: #e6e1e8;
  position: relative;
  padding-top: 2rem;  // Space for the title above
  padding-left: 0.5rem;  // Add some padding on the left for the content

  &::before {
    // This creates the colored bar on the left
    content: " ";
    height: 100%;
    width: 4px;
    position: absolute;
    left: -1.2rem;
    top: 0;
  }
}

// Josh callout
p.josh::after {
  content: "Sidebar - Josh";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;  // Move title from the left edge
  font-weight: bold;
  color: #98e6a1;
  display: block;
  text-transform: uppercase;
  font-size: .75em;
  background-image: url("../../assets/images/josh-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px; 
  padding-right: 30px;
}

// Warren callout
p.warren::after {
  content: "Sidebar - Warren";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;  // Move title from the left edge
  font-weight: bold;
  color: #80b3ff;
  display: block;
  text-transform: uppercase;
  font-size: .75em;
  background-image: url("../../assets/images/warren-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px 30px;  
  padding-right: 30px;  
}

.site-title {
  font-size: 1.35rem !important;  // Adjust this value as needed
  white-space: nowrap;  // Prevents title from wrapping
}

a {
  font-weight: 500;  // Slightly bolder
  text-decoration: none;
  
  &:hover {
    color: #b8f7ff;  // Even brighter on hover
    text-decoration: underline;
  }
}

// Make sidebar links match
.nav-list .nav-list-item .nav-list-link {
  font-weight: 500;
}

#markdown-toc .label {
  display: none;
}